*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2e1012;
    --second-color: #F3CC4D;
    --black: #000000;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;

}

.yellow{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    z-index: 1;
    font-family: 'Indie Flower', cursive;
}

.yellow img{
    top: -1%;
    padding: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 1;
}

.chocolate{
    height: 50vh;
}

p{
    color: var(--black);
    width: 80%;
    font-size: 32px;
}
 
.botao{
    width: 290px;
    height: 70px;
    color: white;
    position: absolute;
    background-color: var(--primary-color);
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0%;
}

.yellow .btn.botao {
    font-size: 32px !important;
}

